.color{
background-color: bisque
}
    
    .grid-container  {
        background-color:rgba(115, 255, 0, 0.822);
        padding: 1em 1em;
        font-size: 20px;
}   

.steps {
    background-color: rgba(20, 143, 219, 0.822);
    padding: 1em 1em;
    font-size: 20px;
}