
    
    .grid-container  {
        background-color:rgba(115, 255, 0, 0.822);
        padding: 1em 1em;
        font-size: 20px;
}   

.steps {
    background-color: rgba(0, 0, 0, 0.822);
    padding: 1em 1em;
    font-size: 20px;
}